* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
a{
	text-decoration:none;
	font-size:18px;
	
}

.row {
	display:flex;
	justify-content:space-around;
	height:100px;
	align-items:center;
	
	
}
.logo {
	font-size:25px;
	color:#fff;
	font-family: "Poppins", sans-serif;
    text-transform: uppercase;
	font-weight: 700;
    letter-spacing: 1px;
}

ul,li{
	list-style:none;
}
.butn {
	color:#fff;
	border:2px solid;
	background-color:#6a91d5;
	border-radius:8px;
	padding:10px;
	margin-left:50px;
	
}
ul,li,a{
	color:#e3d6d6;
}
.butn:hover{
	color:#000;
}
.container {
	width:90%;
	margin:auto;
}
header {
	/* background-color:#2091e1; */
	background-color:#6a91d5;
	height:100px;
}
ul,li,a{
	color:#000
}
.navflex {
	display:flex;
}
.slider {
	padding-left:10px;
	padding-top:10px;
}

/* .containercard { */
	/* width:80%; */
	/* margin:auto; */
/* } */

/* .cardflex { */
	/* display:flex; */
	/* flex-wrap:wrap; */
	
/* } */

/* .card{ */
	/* margin-right:10px; */
/* } */
/* .card img { */
	/* width:100%; */
/* } */
#banner {
	/* background-image:url(../image/hill2.jpg); */
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),
                       rgba(0, 0, 0, 0.2)),url(../image/hill2.jpg) ;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:90vh;
	background-attachment:fixed;
	
}
.welcome {
	margin-top:50px;
	font-size:35px;
	color:#fff;
	text-align:center;
	padding-top:100px;
	
  font-family: "Raleway", sans-serif;
  
  /* font-weight: <weight>; */
  font-style: normal;
}
	
.design {
	font-size:18px;
	color:#fff;
	text-align:center;
	font-family: "Raleway", sans-serif;
  
  /* font-weight: <weight>; */
  font-style: normal;
}
.circle {
	height:43px;
	width:43px;
	border-radius:50%;
	border:1px solid #fff ;
	margin-left:320px;
	margin-top:50px;
	
}
.arrow {
	margin-left:13px;
	margin-top:11px;
	color:#fff;
}
.circle:hover .arrow{
	transform:scale(1.2);
}
.about{
	border:1px solid #fff;
	color:#fff;
	border-radius:10px;
	width:130px;
	padding:5px;
	text-align:center;
	background-color:#6a91d5;
	
}
.padding{
	padding:5px;
}
.fontfamily{
	font-family: "Raleway", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
    /* color: #444444; */
}
.icon {
	/* font-size:20px; */
	color:#6a91d5;
}
.contentflex {
	display:flex;
	flex-wrap:wrap;
	font-family: "Open Sans", sans-serif;
}
.contflex {
		display:flex;
		flex-wrap:wrap;
	}
.pt {
padding-top:30px;
}
.space1 {
padding-top:10px;
}		
.vspace{
	padding-top:70px;
	
}

.iconflex {
	display:flex;
	flex-wrap:wrap;
}
.border{
	border:1px solid #fff;
	height:30vh;
	background-color:#cfd7d28f;
	font-size:20px;
}

.fs {
	font-size:18px;
}
.pl {
	padding-left:6px;
}
.pl1 {
	padding-left:35px;
}
.numflex {
	display:flex;
	flex-wrap:wrap;
	margin-top:35px;
	width:90%;
	margin:auto;
	
}
.align {
	text-align:center;
}
.container1 {
	width:100%;
}
.top {
	padding-top:25px;
}
.iconnum {
	font-size:35px;
	color:#2091e1;
}
.number {
	font-size:40px;
}

.pl2 {
	padding-left:15px;
}
.callborder {
	border:3px solid;
	border-radius:12px;
	margin-top:25px;
	width:180px;
	padding:5px;
	opacity:0.7;
}
.callbg{
	background-color:#6a91d5;
	color:#fff;
    
}
.cta {
	margin-top:30px;
}
.allborder {
	border:1px solid;
	border-radius:10px;
    width:250px;
	margin-top:25px;
	padding:8px;
	background-color:#9fd2e9;
}
.allflex{
	display:flex;
	justify-content:space-between;

}
.allhover:hover {
	color:blue;
}

.rowflex {
	display:flex;
	flex-wrap:wrap;
}
.card {
	position:relative;
	overflow:hidden;
}
.content1 {
	display:none;
	opacity:0;
	position:absolute;
	bottom:-100%;
	transition:all 0.5s ease-in-out;
	left:0;
	right:0;
    }
.hovimage1 {
	position:relative;
	overflow:hidden;
	width:100%;
}
.image1{
	width:95%;
}
.hovimage1:hover .content1{
	opacity:1;
	position:absolute;
	display:flex;
    bottom:1%;
	
    color:#fff;
	background-color:#fff;
	
}
.hovimage1:hover .image1 {
	opacity:0.5;
}
.porticonbox {
	border:1px solid #2091e1;
	color:#fff;
	background-color:#2091e1;
	width:200px;
	height:3vh;
	text-align:center;
}




img {
	width:100%;
}
.img1 {
width:100%;
}	


.testimflex {
	display:flex;
	flex-wrap:wrap;
}
.testimbox1 {
	border:1px solid #fff;
	/* height:80vh; */
	text-align:center;
	padding-top:20px;
	/* margin-top:20px; */
	background-color: #cfd7d28f;
}

.testimonial1 {
	width:100px;
	height:100px;
	border-radius:40px;
	margin-top:15px;
}
.testimcircle {
	margin-top:15px;
	font-size:13px;
	color:#6a91d5;
}

.qleft{
	color:#0095ff66;
	font-size:25px;
}
	

.cardflex {
	display:flex;
	flex-wrap:wrap;
	margin-top:30px;
}
.cardimg {
	width:90%;
}

.icon {
	display:flex;
	margin-left:5px;
	
}
.icon1{
	border:1px solid blue;
	padding:3px;
}




.cardflex {
	display:flex;
flex-wrap:wrap;
}
.card {
	position:relative;
}
.content {
	position:absolute;
	border:1px solid #fff;
	bottom:20px;
	left:60px;
	background-color:#fff;
	/* width:280px; */
	/* height:10vh; */
	text-align:center;
	z-index:1;
	/* margin-left:30px; */
	
}
.icon {
	
	color:blue;
	opacity:0;
	position:absolute;
	transition:all 0.5s ease-in-out;
	left:0;
	right:0;
	margin-left:80px;
}
.card:hover .icon{
	opacity:1;
	position:absolute;
	bottom:30%;
   
}
.contacttop{
margin-top:60px;
}

.contactflex {
	display:flex;
	flex-wrap:wrap;
}
.contactcard1 {
	border:1px solid #fff;
	padding:10px;
	margin-top:10px;
	background-color: #cfd7d28f;
}
.mapflex {
	display:flex;
	flex-wrap:wrap;
	margin-top:25px;
}
iframe {
	width:300px;
	height:80vh;
}
.type {
	width:250px;
	height:15vh;
}
	.nameborder {
		border:1px solid #fff;
		padding:10px;
		background-color: #cfd7d28f; 
	}
	.type1 {
		width:250px;
		height:20vh;
	}
	.sendmsg {
		padding:5px;
		color:blue;
	}
	.footercard {
		border:1px solid #607d8b ;
		 /* height:120vh; */
		/* width:120px; */
		background-color: #fff;
        text-align:center;	
        border-top-color:blue;	
		margin-top:15px;
		/* margin-left:30px; */
		
	}
	.footerflex {
		display:flex;
		flex-wrap:wrap;
		background-color:#444444;
		/* height:100vh; */
	}
	.footiconflex {
		/* display:flex; */
		margin:10px;
		font-size:25px;
	}
	.ptfooter {
		margin-top:75px;
	}
	.links {
		color:#fff;
		margin-top:20px;
		padding-left:60px;
	}
	ul,li,a {
		color:#fff;
	}
	.ptlinks {
		padding-top:15px;
	}
	
	.iconcolor {
		color:#b5d9e9;
		font-size:10px;
	}
	.subscr {
		width:210px;
		height:6vh;
	}
	.subsbox {
		
		width:100px;
		height:6vh;
		background-color:#67b0d1;
		padding:8px;
	}
	.subsflex {
		display:flex;
	}
	.footerbreak {
		border-top:2px solid #385b6b;
		width:80%;
		margin:auto;
		margin-top:30px;
		
	}
	.copyright {
		color:#fff;
		margin-top:20px;
		/* margin-left:50px; */
		text-align:center;
	}
	.bootstrap {
		color:#67b0d1;
	}
	
.col-1 {
	width:8.3%;
}
.col-2 {
	width:16.6%;
}
.col-3 {
	width:25%;
}
.col-4 {
	width:33.2%;
}
.col-5 {
	width:41.5%;
}
.col-6{
	width:50%;
}
.col-7 {
	width:58.1%;
}
.col-8 {
	width:66.4%;
}
.col-9 {
	width:75%;
}
.col-10 {
	width:83%;
}
.col-11 {
	width:91.3%;
}
.col-12 {
	width:100%;
}

@media(max-width:576px){
	.col-1 {
	width:8.3%;
}
.col-2 {
	width:16.6%;
}
.col-3 {
	width:25%;
}
.col-4 {
	width:33.2%;
}
.col-5 {
	width:41.5%;
}
.col-6{
	width:50%;
}
.col-7 {
	width:58.1%;
}
.col-8 {
	width:66.4%;
}
.col-9 {
	width:75%;
}
.col-10 {
	width:83%;
}
.col-11 {
	width:91.3%;
}
.col-12 {
	width:100%;
}

	.list {
		display:none;
	}
	.txtalign{
		text-align:center;
	}
	.txtalignservice{
		text-align:center;
	}
	.txtalignicon{
		text-align:center;
	}
	/* .border { */
		/* height:60vh; */
	/* } */
	.col90{
		width:90%;
		
	}
	/* .callbg { */
		/* height:130vh; */
	/* } */
	iframe {
	width:300px;
	height:80vh;
}
/* .footerflex { */
	/* height:380vh; */
/* } */
.subscr {
		width:160px;
		/* height:10vh; */
	}
	.subsbox {
		/* height:10vh; */
		padding:2px;
	}
	.copyright{
	margin-left:10px;
}
    .porticonbox {
		width:130px;
		/* height:10vh; */
	}
	.cardimg {
		padding-top:40px;
		width:100%;
	}
	/* .content { */
		/* bottom:10px; */
		/* height:15vh; */
		/* width:150px; */
		/* margin-left:15px; */
	/* } */
}
@media(min-width:576px){
	.col-1 {
	width:8.3%;
}
.col-2 {
	width:16.6%;
}
.col-3 {
	width:25%;
}
.col-4 {
	width:33.2%;
}
.col-5 {
	width:41.5%;
}
.col-6{
	width:50%;
}
.col-7 {
	width:58.1%;
}
.col-8 {
	width:66.4%;
}
.col-9 {
	width:75%;
}
.col-10 {
	width:83%;
}
.col-11 {
	width:91.3%;
}
.col-12 {
	width:100%;
}

	.list {
		display:none;
	}
	.txtalign {
		text-align:center;
	}
	.txtalignservice{
		text-align:center;
	}
	.txtalignicon{
		text-align:center;
	}
	/* .border { */
		/* height:70vh; */
	/* } */
	/* .callbg { */
		/* height:110vh; */
	/* } */
	/* .maps { */
	
	/* height:40vh; */
	/* width:10px; */

	iframe {
	width:300px;
	height:80vh;
}
.porticonbox {
		width:130px;
		/* height:10vh; */
	}
	.cardimg {
		padding-top:40px;
		width:100%;
	}
	
}
@media(min-width:768px){
	.col-md-1 {
	width:8.3%;
}
.col-md-2 {
	width:16.6%;
}
.col-md-3 {
	width:25%;
}
.col-md-4 {
	width:33.2%;
}
.col-md-5 {
	width:41.5%;
}
.col-md-6{
	width:50%;
}
.col-md-7 {
	width:58.1%;
}
.col-md-8 {
	width:66.4%;
}
.col-md-9 {
	width:75%;
}
.col-md-10 {
	width:83%;
}
.col-md-11 {
	width:91.3%;
}
.col-md-12 {
	width:100%;
}
	
	.list {
		display:none;
	}
	.txtalign{
		text-align:center;
	}
	.txtalignservice{
		text-align:center;
	}
	.txtalignicon{
		text-align:center;
	}
	.col47 {
		width:47%;
	}
	.pt{
		margin:5px;
	}
	.numflex {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.img1 {
	width:95%;
}
iframe {
	width:90%;
	height:120vh;
}
.nameborder {
	width:300px;
}
.footercard {
	width:50%;
	
}
/* .footerflex { */
	/* height:250vh; */
/* } */
.subscr {
		width:210px;
		/* height:12vh; */
	}
	/* .subsbox { */
		/* height:12vh; */
	/* } */
	.copyright {
		margin-left:230px;
	}
	.porticonbox {
		width:160px;
		/* height:10vh; */
	}
	.cardimg {
		padding-top:40px;
		width:95%;
	}
	
}


@media(min-width:992px){
	.col-lg-1 {
	width:8.3%;
}
.col-lg-2 {
	width:16.6%;
}
.col-lg-3 {
	width:25%;
}
.col-lg-4 {
	width:33.2%;
}
.col-lg-5 {
	width:41.5%;
}
.col-lg-6{
	width:50%;
}
.col-lg-7 {
	width:58.1%;
}
.col-lg-8 {
	width:66.4%;
}
.col-lg-9 {
	width:75%;
}
.col-lg-10 {
	width:83%;
}
.col-lg-11 {
	width:91.3%;
}
.col-lg-12 {
	width:100%;
}
.list {
	display:flex;
	justify-content:space-between;
	}
	.slider {
		display:none;
	}
	.txtalign{
		text-align:initial;
	}
	.vspace {
		width:45%;
	}
	.txtalignservice{
		text-align:center;
	}
	.txtalignicon{
		text-align:center;
	}
	.col22 {
		width:22%;
		
	}
	.pt {
		margin:5px;
		justify-content:space-between;
	}
	.numflex {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
	
}
.numberbg {
	border:1px solid #fff;
	background-color:#cfd7d28f;
	/* height:60vh; */
}
	
/* .border { */
		/* height:80vh; */
	/* } */
/* .callbg { */
		/* height:110vh; */
	/* } */
	.callwidth{
		width:80%;
		margin:auto;
	}
	/* .testimbox1 { */
		/* height:73vh; */
	/* } */
iframe {
	width:400px;
	height:110vh;
}
.type {
	width:350px;
	height:15vh;
}
.type1 {
	height:25vh;
	width:350px;
}
/* .footercard { */
	/* height:95vh; */
/* } */
/* .footerflex { */
	/* height:150vh; */
/* } */
.copyright{
	margin-left:330px;
}
.porticonbox {
		width:140px;
		/* height:10vh; */
	}
	/* .content { */
		/* margin-left:18px; */
	/* } */
}

@media(min-width:1200px){
	.col-xl-1 {
	width:8.3%;
}
.col-xl-2 {
	width:16.6%;
}
.col-xl-3 {
	width:25%;
}
.col-xl-4 {
	width:33.2%;
}
.col-xl-5 {
	width:41.5%;
}
.col-xl-6{
	width:50%;
}
.col-xl-7 {
	width:58.1%;
}
.col-xl-8 {
	width:66.4%;
}
.col-xl-9 {
	width:75%;
}
.col-xl-10 {
	width:83%;
}
.col-xl-11 {
	width:91.3%;
}
.col-xl-12 {
	width:100%;
}
.colxl47{
	width:47%;
}
.vspace {
		width:45%;
	}
	.numflex {
		height:25vh;
	}
	
	.callbg {
		height:45vh;
	}
	/* .border { */
		/* height:30vh; */
	/* } */
	/* .numberbg { */
		/* height:30vh; */
	/* } */
.testimbox1 {
		height:35vh;
	}
	iframe {
	width:500px;
	height:70vh;
}
.type {
	width:350px;
	height:5vh;
}
.nameborder {
	height:65vh;
	padding:20px;
}
/* .footercard { */
	/* height:42vh; */
/* } */
/* .footerflex { */
	/* height:80vh; */
/* } */
.subscr {
		width:210px;
		height:6vh;
	}
	.subsbox {
		height:6vh;
	}
	.copyright{
	margin-left:500px;
}
.porticonbox {
		width:168px;
		/* height:4vh; */
	}
	/* .content { */
		/* height:8vh; */
		/* margin-left:55px; */
	/* } */
	
}